<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".srt" mimeType="application/octet-stream" />
            <mimeMap fileExtension="." mimeType="application/octet-stream" />
        </staticContent>
        <!-- <cors enabled="true" failUnlistedOrigins="true">
            <add origin="https://play.dev1.viostream.io" allowed="true" />
            <add origin="https://publish.dev1.viostream.io" allowed="true"/>
        </cors> -->
        <httpProtocol>
            <customHeaders>
                <!-- <add name="Referrer-Policy" value="no-referrer" /> -->
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
